[New Version in Pull] Use of string "BASIC" in Basic Authentication Header

At several places in rf_utility.py, the Basic Authentication Header is formed with a string "BASIC ".
The syntax in RFC1945 section 11.1 uses the string "Basic".
RFC2616 section 4.2 says Header Field names are case insensitive. 
But does that apply to header values as well?

This is the first Redfish tool to use the full upper case BASIC string in this header. 
Is this allowed? Is it good idea?

In RFC 7617, section 2, it says:

    "Note that both scheme and parameter names are matched case-insensitively."

In this context, "Basic" is the scheme name.
 